
   <div>
        <h1><a data-ng-href="#!/home" id="main_heading">Movie Fever</a></h1>
    </div>
    <div class="form">
        <form name="myForm">
            <input type="text" id="navInput" ng-required="true" ng-model="title" name="myInput" ng-change="getmovie(title)" placeholder="Search with Title" required="required">
            <a type="submit"  id="clk" ng-click="goto(title)">Search</a>
        </form>
    </div>
        <ul>
            <a ng-href="/home"><li>Home</li></a>
            <a ng-href="/advance_search"><li>Advance Search</li></a>
        </ul>
            <ul class="suggestions" ng-show="title.length">
                <li  ng-click="rm(title)"  ng-repeat="x in all | limitTo:4"><a  ng-href="#!/details/{{x.id}}"><img class="image-fluid sug_img" width="30%" height="120%" src="http://image.tmdb.org/t/p/w185/{{x.poster_path}}"><span  id="heading_title">{{x.title}}</span></a></li>
            </ul>